{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="home-container">
    <h1>Добро пожаловать в Фуд мастерскую "Гранат Нарасхват"!</h1>
    <p>Уже более трех лет мы создаем уникальные букеты для всех случаев. Наше мастерство и креативность помогут вам выразить свои чувства через красоту букетов.</p>
    <p>Мы рады предложить вам широкий ассортимент букетов: от классических до эксклюзивных авторских композиций. В каждый букет мы вкладываем частичку нашего сердца и души, чтобы вы могли подарить своим близким нечто особенное.</p>
</div>
{% endblock %}
